.optionsModal{
  /* width: 1145px; */
  margin: 20px 60px;
  height: 90%;
  border-radius: 9px;
  background-color: #ffffff;
  margin-left: 4%;
  margin-top: 20px;
  padding-left: 200px;
  padding-right: 186px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.optimizingsModalHeader{
  width: 413px;
  height: 360px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}
.closeIcon{
  margin-left: 858px;
  padding-top: 35px;
}
.commServiceOption{
  /* width: 760px; */
  width: 90%;
  height: 90px;
  border-radius: 9px;
  background-color: rgba(196, 198, 205, 0.08);
  margin-top: 20px;
}
.optionHeader{
  font-family: Open Sans;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-top: 20px;
  padding-left: 100px;
}
.radioStyle{
  margin-left: 44px;
  margin-top: -8px;
}
.optionMeta{
  padding-left: 100px;
  margin-top: -25px;
  font-family: Open Sans;
  font-size: 14px;
  color: #6d6d6d;
}
.commService_flex-container{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.flex-item{
  width: 139px;
  height: 42px;
  border-radius: 3px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #4a4a4a;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.flex-item1{
  width: 139px;
  height: 42px;
  border-radius: 3px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #ffffff;
  background-color: #00402e;
  border: 1px solid #e1e1e1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.commService_container {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.commService_card {
  width: 29%;
  padding: 4%;
  margin: 3%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 9px 19px 0 rgba(43, 63, 8, 0.38);
  border: none !important;
  cursor: pointer;
}

.commService_card:hover {
  background: #00864f;
  color: white;
}

.commService_container .commService_card:first-child {
  margin-left: 0;
}

.commService_container .commService_card:last-child {
  margin-right: 0;
}