/* .optimizingsModal{
  width: 1000px;
  height: 1000px;
  border-radius: 9px;
  background-color: #ffffff;
  margin-left: 4%;
  margin-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
} */
.Rect-4 {
  width: 15%;
  height: 10%;
  border-radius: 3px;
  background-color: #66980c;
}
body {
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s
}
.optimizingsModal{
  width: 1200px!important;
  height: 367px;
  border-radius: 9px!important;
  /* background-color: red; */
  margin-left: 26px!important;
  margin-top: 20px;
  padding-left: 283px!important;
  padding-right: 302px!important;
  margin-right: 50px !important;
  }
  .optimizingsModalHeader{
    width: 413px;
    height: 36px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 10px;
  }

  .closeIcon{
    margin-left: 858px;
    padding-top: 35px;
  }
  .option{
    width: 760px;
    height: 90px;
    border-radius: 9px;
    background-color: rgba(196, 198, 205, 0.08);
    margin-top: 20px;
  }
  .optionHeader{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-top: 20px;
    padding-left: 100px;
  }
  .radioStyle{
    margin-left: 44px;
    margin-top: -8px;
  }
  .optionMeta{
    padding-left: 100px;
    margin-top: -25px;
    font-family: Open Sans;
    font-size: 14px;
    color: #6d6d6d;
  }
  .flex-container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  .flex-item{
    width: 139px;
    height: 42px;
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #4a4a4a;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
  .flex-item1{
    width: 139px;
    height: 42px;
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #ffffff;
    background-color: #00402e;
    border: 1px solid #e1e1e1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
  
  @media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height:40px;
        line-height:40px;
        background:#f4f4f4;
    } 
    input {
      height:40px;
      line-height:40px;
      background:#f4f4f4;
  }
  input {
      height:40px;
      line-height:40px;
      background:#f4f4f4;
  }
  .tableContainer {
    /* padding: 15px 50px; */
  }
  
  /* .currentInstruction th {
    background-image: linear-gradient( #474547, black) !important;
    color: white !important;
  }
  
  .currentInstruction th:first-child,
  .currentInstruction th:nth-child(4),
  .currentInstruction th:nth-child(7) {
    border-right: solid 1px #585858;
  }
  
  .currentInstruction td:first-child,
  .currentInstruction td:nth-child(4),
  .currentInstruction td:nth-child(7) {
    border-right: solid 1px rgba(98, 179, 79, 0.19);
  }
  
  .currentInstruction td:nth-child(9), currentInstruction td:nth-child(10) {
    text-align: center !important;
  } */
  
  .checkIcon {
    color: #00864f;
  }
  .curr_instruction{
    font-weight: 200;
    margin-top: 66px !important;
    margin-left: -280px;
    width: 270px;
    height: 41px;
  }
  .table_heading
  {
    margin-left: -280px !important;
    width: 990px !important;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    margin-left: -15px;
  
  }
  .availBal{
    color:#bcbdbd;
  }
  .colorbtn{
    width: 139px; 
    height: 42px; 
    margin-left: 94px !important; 
    /* box-shadow: rgba(43, 63, 8, 0.38) 0px 9px 19px 0px !important;  */
    background-color: rgb(0, 134, 79) !important;
        border-radius: 8px!important;
  }
  /* th, td {
    padding-top: 5px!important;
    padding-right: 14px !important;
    padding-bottom: 0px!important;
    padding-left: 15px!important;
  } */
  .delete1{
    margin-left: -30px !important;
    float: left;
  }
  .chkBox1{
    outline: 2px solid white!important;
  }
  .chkBox2{
    outline: 2px solid rgb(114, 111, 111)!important;
  }
  .executeBtn{
    margin: 2% 0 4% 0;
    float: right;
  }
  .colorbtn2{
    width: 260px;
    height: 45px;
    box-shadow: 0 9px 19px 0 rgba(43, 63, 8, 0.38)!important;
    background-color: #171d1a !important;
  }

  .tab1 {
    padding: 10px;
    font-size: 20px;
    width: 249px;
    text-align: center !important;
    cursor: pointer;
  }

  .active {
    color:#00864f !important;
    border-bottom: 3px solid #00864f !important;
  }

  .tab2 {
    width: 249px;
    font-size: 20px;
    height: 25px;
  }

  .dropDwn{
    width: 310px; 
    height: 40px; 
    border: solid 1px #d1d1d1; 
    background-color: rgba(196, 198, 205, 0.08);
  }
  .contnr1
  {
    padding-left: 0px;
    padding-right: 0px;
  }
   .heading2{
    font-weight: 200;
    margin-top: 20px;
    height: 4px;
    margin-left: 50px;
  }
  .addInstr{
    width: 1250px;
    height: 514px;
    /* background-color: blue; */
    border: solid 1px var(--white);
  }
  .accounts
  {
    color: rgb(0, 134, 79);
    margin-top: 10px;
  }
  .chkBoxDebit{
    margin-left: 190px;
    margin-top: 47px;
  }
  chkBox3{
    margin-left: 645px ;
    margin-top: -56px ;
  }
  .contraAcc
  {
    margin-left: 85px;
  }
  .currInstr
  {
    margin-left: 300px;
  }
  .tablCntr{
    margin-left: 246px;
    width: 1250px;
  }
  .curr_instruction{
    font-weight: 200;
    /* margin-top: 66px !important; */
    margin-left: 16px;
    width: 270px;
    height: 41px;
  }
  .table_heading
  {
    margin-left: -280px !important;
    width: 1150px !important;
    /* margin-top: 10px; */
    text-align: center!important;
    vertical-align: middle;
    /* background-color: black !important; */
    /* margin-left: -15px; */
    height: 48px;
  }
  .tblBody{
    text-align: center!important;
    vertical-align: middle;
  }
  
  .modalAdd
  {
    /* background-image: url("./Added1.png") !important; */
    /* background-color: red; */
    margin-top: 250px;
    width: 665px;
    height: 280px;
    margin-left: 180px;
  }

  .okBtn
  {
    margin-top: 70px;
  }

  .btn2{
    width: 115px !important;
    height: 40px !important;
    margin-top: -13px !important;
    margin-left: 80px !important;
    box-shadow: 0 9px 19px 0 rgba(43, 63, 8, 0.38) !important;
  }

  .modalCon{
    width: 1028px !important;
    height: 800px !important;
  
  }
  .headStyle{
    margin-left: 80px !important;
    /* margin-top: 164px !important; */
    padding-top: 58px !important;
    margin-bottom: 8% !important;
  }
  /* input.reversal:hover{
    cursor:not-allowed;
  } */
  
  .revsl:hover{
    cursor:not-allowed;
  }
  /* .revsl{
    opacity: 0.3;
  } */
  input.forceDebitControlAccount:hover{
    cursor:not-allowed;
  }
  input.forceDebitContraAccount:hover{
    cursor:not-allowed;
  }
  
  }

  .twoWay_container {
    width: 100%;
    height: 100%;
    margin-top: 70px;
  }

  .twoWay_subContainer {
    width: 100%;
    height: 89%;
    display: flex;
  }

  .twoWay_tabContainer {
    width: 100%;
    height: 100%;
    background: #f5f6fa;
    padding: 10px 50px 0 50px;
    overflow: auto;
  }

  .ui.secondary.pointing.menu {
    border-bottom: solid 1px rgb(56, 55, 56) !important;
  }

  .currentInstruction th {
    background-image: linear-gradient( #474547, black) !important;
    color: white !important;
  }

  .currentInstruction th, .currentInstruction td {
      /* padding: 10px !important; */
      font-size: 13px !important;
  }

  .currentInstruction th:first-child,
  .currentInstruction td:first-child, 
  .currentInstruction td:nth-child(11), 
  .currentInstruction td:nth-child(11){
      text-align: center !important;
  }

  input {
    height: 13px !important;
  }

  tbody {
    display:block;
    max-height:60vh;
    overflow:auto;
  }

  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }

  .currentInstruction th,
  .currentInstruction td {
    width: 7% !important;
    text-align: center !important;
  }

  .currentInstruction th:last-child,
  .currentInstruction td:last-child,
  .currentInstruction th:first-child,
  .currentInstruction td:first-child {
    width: 5% !important;
  }

  .currentInstruction th:nth-child(3),
  .currentInstruction td:nth-child(3),
  .currentInstruction th:nth-child(4),
  .currentInstruction td:nth-child(4) {
    width: 12% !important;
  }

  .currentInstruction th:nth-child(6),
  .currentInstruction td:nth-child(6),
  .currentInstruction th:nth-child(7),
  .currentInstruction td:nth-child(7),
  .currentInstruction th:nth-child(9),
  .currentInstruction td:nth-child(9) {
    width: 4% !important;
  }
 
  .standingInstTable thead, tbody tr {
    border-bottom: none !important;
  }

  .addNewInstBtn {
    margin-left: 77.5% !important ;
  }

  .company-card-button{
    text-align: left;
    display: flex;
    color:black;
    width:100%;
  }

  .icons{
    width:20%;
  }