.company-card-button{
  text-align: left;
  display: flex;
  color:black;
  width:100%;
}

.icons{
  width:20%;
}

.secondAccordionMain {
  display: flex;
  flex-wrap: wrap;
}

.accountCard1 {
  margin-top: 10px;
  width: 80%;
  height: 20%;
  border-radius: 10px !important;
  border-width: 1px;
  overflow: hidden;
}

.accountCard2 {
  display: none;
  margin-top: 10px;
  height: 20%;
  width: 80%;
  border-radius: 10px !important;
  border-width: 1px;
  overflow: hidden;
}
.accountCard1 > p {
  font-size: 13px;
}

.accountCard1:hover, .accountCard2:hover {
  cursor: pointer;
}

.card:first-of-type, .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.availableBalance {
  color: rgb(98, 179, 79);
  margin-left: 60px !important;
  margin-top: 8px !important;
  font-size: 20px;
}

.button{
  border-radius: 10px; 
  width:32%;
}

#numberIP {
  border-radius: 5px;
  width: 75%;
  height: 58% !important;
}
.instrReversal:hover {
  cursor: not-allowed;
}

.cardHeader {
  cursor: pointer;
  font-size: 13px;
  padding: 1.5% 2%; 
}

.accordianCard {
  margin-bottom: 1%;
  border-radius: 9px !important;
}

.accordianCardBody .accordianSmallCard:not(:last-child) {
  margin-right: 2%;
}

.accordianSmallCard {
  border-radius: 9px !important;
  padding: 15px 15px;
  cursor: pointer;
  border: 1px solid lightgray;
}

.accordianSmallCardActive {
  border: 1px solid #00864f !important;
}

.accordianSmallCard:hover {
  border: 1px solid #00864f !important;
}

.instAddModalContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instAddModal {
  width: 705px;
  height: 296px;
  background-size: cover;
}

.addInst_addBtn {
  float: right;
  width: 12%;
  margin: 2% 0px;
}

.addInst_resetBtn {
  background: white !important;
  width: 12%;
  margin: 2% 2% 2% 0px;
  border: 1px solid #979797 !important;
  color: black !important;
  float: right;
}