.InstModalContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclamationIcon {
    color: #d74e14;
}

.executeMoreBtn {
    width: 160px !important;
    height: 42px !important;
    margin-right: 20px !important;
    border: 1px solid #1b73eb !important;
    background: none !important;
    color: white !important;
}