.card_savings{
    color: white;
    width: 100%;
    padding: 15px;
    padding-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: 104%;
    background-position-y: -10px;
    background-position-x: -10px;
    background-repeat: no-repeat;
}

.saving_label_account_name{
    font-size: 13px;
    font-weight: 600;
    color: #5fb14e;
}

.saving_sub_label_conatiner{
    display: flex;
    margin-top: 10px;
}

.saving_label_account_number{
    font-size: 18px;
}

.saving_sub_label_individual_conatiner{
    width: 60%;
}

.saving_sub_lable_heading{
    font-size: 12px;
    font-weight: 600;
    color: #5fb14e;
}

.saving_sub_lable_value{
    font-size: 24px;
}

.current_sub_label_conatiner{
    display: flex;
    margin-top: 10px;
}

.current_label_account_number{
    font-size: 18px;
}

.current_sub_label_individual_conatiner{
    width: 60%;
}

.current_sub_lable_heading{
    font-size: 12px;
    font-weight: 600;
    color: #61b34e;
}

.current_sub_lable_value{
    font-size: 15px;
}

.current_sub_lable_value_2{
    font-size: 24px;
    color: #61b34e;
}

.card_current{
    width: 100%;
    padding: 15px 0;
    display: flex;
}

.cardCurrent_bottomBorder{
    border-bottom: 1px solid #e0dede;
    width: 100%;
}

.cardCurrentContainer:last-child .cardCurrent_bottomBorder {
    display: none;
}

.cardCurrentContainer:last-child .card_current{
    padding-bottom: 10%;
}

/* #61b34e */