.tableContainer {
    padding: 15px 0;
}

.history th {
    background-image: linear-gradient( #474547, black) !important;
    color: white !important;
}

.history th, .history td {
    padding: 10px !important;
    font-size: 13px !important;
}

.history th:first-child,
.history th:nth-child(2),
.history th:nth-child(5),
.history th:nth-child(8) {
    border-right: solid 1px #585858;
}

.history td:first-child,
.history td:nth-child(2),
.history td:nth-child(5),
.history td:nth-child(8) {
    border-right: solid 1px rgba(98, 179, 79, 0.19);
}

.history td:nth-child(11), .history td:nth-child(12){
    text-align: center !important;
}

.history td:nth-child(12) {
    cursor: pointer !important;
}

.eyeIcon {
    color: black;
}

.checkIcon {
    color: #00864f;
}

.modalInstructionExecution {
    background-image: url('./img-banner-funds-copy@3x.png');
    width: 875px;
    height: 296px;
    background-size: cover;
    padding: 68px 0 0 98px;
}

.modalIcon {
    color: white;
    margin-right: 10px !important;
}

.modalButtonContainer {
    margin-top: 30px;
}

.modalBtn {
    width: 139px !important;
    height: 42px !important;
    margin-right: 20px !important;
}

/* .dimmer {
    opacity: .5 !important;
} */

.viewButton {
    border: 1px solid #1b73eb !important;
    background: transparent !important;
    color: white !important;
}

.okButton {
    box-shadow: 0 9px 19px 0 rgba(8, 48, 63, 0.38) !important;
    background-color: #1b73eb !important;
    color: white !important;
}

.viewInstContainer {
    width: 74%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.viewInstContainerCard {
    width: 83% !important;
    height: 400px;
    display: flex;
    flex-direction: row !important;
}

.mainColumn_1 {
    height: 100%;
    width: 30%;
    background-image: url('./group-20@3x.png');
    background-size: cover;
    position: relative;
}

.mainColumn_2 {
    height: 100%;
    width: 100%;
    background: white;
    border-top-right-radius: 0.285714rem;
    border-bottom-right-radius: 0.285714rem;
}

.mainColumn_1-Container1 {
    height: 100%;
    width: 100%;
    padding: 23px 30px;
}

.mainColumn_1-Container2 {
    position: absolute;
    bottom: 25px;
    left: 30px;
}

.colum1_container_font {
    font-size: 20px;
    margin-bottom: 10px;
}

.column2Container {
    width: 100%;
    height: 100%;
    padding: 40px 45px 30px 45px;
    display: flex;
    flex-direction: column;
}

.upperSection {
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}

.lowerSection {
    width: 100%;
    height: 100%;
    display: flex;
}

.leftSection {
    width: 100%;
    height: 100%;
    margin-right: 40px;
    padding-right: 30px;
}

.rightSection {
    width: 100%;
    height: 100%;
}

.rightSectionContainer {
    display: flex;
}

.message {
    margin-top: 20px;
    height: 80px;
    width: 100%;
    border: 1px solid #d74e14;
    border-radius: 0.285714rem;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.closeBtn {
    margin-top: 20px !important;
    width: 139px !important;
    height: 42px !important;
    box-shadow: 0 9px 19px 0 rgba(43, 63, 8, 0.38) !important;
    background-color: #529bff !important;
    color: white !important;
    float: right !important;
    margin-right: 85px !important;
}

.history th,
.history td {
  width: 12% !important;
  text-align: center !important;
}

.history th:last-child,
.history td:last-child,
.history th:nth-child(11),
.history td:nth-child(11) {
  width: 7% !important;
}